absl-py @ file:///C:/b/abs_14wchyjaia/croot/absl-py_1714140489450/work
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1733331917983/work
aiohttp @ file:///D:/bld/aiohttp_1734596923216/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1734342155601/work
altair==4.1.0
antlr4-python3-runtime @ file:///home/conda/feedstock_root/build_artifacts/antlr-python-runtime-meta_1638309185939/work
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1733753955715/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1733235340728/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1640799537051/work
backcall==0.2.0
beautifulsoup4==4.12.3
black @ file:///D:/bld/black-recipe_1728503811507/work
bleach==6.2.0
blis @ file:///D:/bld/cython-blis_1696148980119/work
Bottleneck @ file:///C:/b/abs_816hr2khp1/croot/bottleneck_1731058648110/work
Brotli @ file:///C:/b/abs_3d36mno480/croot/brotli-split_1714483178642/work
catalogue @ file:///D:/bld/catalogue_1695626463227/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1734380492396/work/certifi
cffi @ file:///D:/bld/cffi_1725560792189/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///D:/bld/click_1733221870611/work
cloudpickle==3.1.1
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
contourpy @ file:///C:/b/abs_853rfy8zse/croot/contourpy_1700583617587/work
cryptography @ file:///D:/bld/cryptography-split_1732745950031/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cymem @ file:///D:/bld/cymem_1732329447106/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
datasets @ file:///home/conda/feedstock_root/build_artifacts/datasets_1733931864043/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1733236420667/work
defusedxml==0.7.1
dgl==2.0.0
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1706434688412/work
docker-pycreds==0.4.0
docopt @ file:///home/conda/feedstock_root/build_artifacts/docopt_1733817844261/work
einops @ file:///home/conda/feedstock_root/build_artifacts/einops_1734259512088/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1733327148154/work
et_xmlfile @ file:///home/conda/feedstock_root/build_artifacts/et_xmlfile_1733749653422/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1733569351617/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1733235979760/work/dist
filelock @ file:///C:/b/abs_f2gie28u58/croot/filelock_1700591233643/work
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1733246708104/work
flowcontainer==7.1
fonttools @ file:///C:/b/abs_f47gnfqnx0/croot/fonttools_1713551644747/work
frozenlist @ file:///D:/bld/frozenlist_1729699477232/work
fsspec==2024.10.0
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1733236256224/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1733236677041/work
gmpy2 @ file:///C:/ci/gmpy2_1645455782955/work
GPUtil @ file:///home/conda/feedstock_root/build_artifacts/gputil_1590646865081/work
grpcio @ file:///C:/b/abs_7d9olmtnd2/croot/grpc-split_1716834609196/work
huggingface_hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1733852339297/work
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
imageio==2.37.0
importlib-metadata @ file:///C:/b/abs_c1egths604/croot/importlib_metadata-suite_1704813568388/work
importlib_resources @ file:///C:/b/abs_e9f8_0_2dq/croot/importlib_resources-suite_1720641112288/work
ipython==8.12.3
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///C:/b/abs_92fccttino/croot/jinja2_1716993447201/work
joblib @ file:///C:/b/abs_f4b98l6lgk/croot/joblib_1718217224240/work
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1662736858348/work
jupyter_client==8.6.3
jupyter_core @ file:///D:/bld/jupyter_core_1727163532151/work
jupyterlab_pygments==0.3.0
jupytext @ file:///home/conda/feedstock_root/build_artifacts/jupytext_1632668953407/work
kiwisolver @ file:///C:/b/abs_88mdhvtahm/croot/kiwisolver_1672387921783/work
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1732116812595/work
language_data @ file:///home/conda/feedstock_root/build_artifacts/language-data_1732032415021/work
lazy_loader==0.4
lime==0.2.0.1
llvmlite==0.43.0
marisa-trie @ file:///D:/bld/marisa-trie_1728409747185/work
Markdown @ file:///C:/b/abs_98lv_ucina/croot/markdown_1671541919225/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1620659057741/work
MarkupSafe @ file:///C:/b/abs_ecfdqh67b_/croot/markupsafe_1704206030535/work
matplotlib==3.9.2
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mccabe @ file:///home/conda/feedstock_root/build_artifacts/mccabe_1733216466933/work
mdit-py-plugins @ file:///home/conda/feedstock_root/build_artifacts/mdit-py-plugins_1733854715505/work
mistune==3.1.0
mkl-service==2.4.0
mkl_fft @ file:///C:/b/abs_f55mv94vyg/croot/mkl_fft_1725370278455/work
mkl_random @ file:///C:/b/abs_21ydbzdu8d/croot/mkl_random_1725370276095/work
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
multidict @ file:///D:/bld/multidict_1729065613552/work
multiprocess @ file:///D:/bld/multiprocess_1724954703656/work
murmurhash @ file:///D:/bld/murmurhash_1728933072026/work
mypy_extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1733230897951/work
nbclient==0.10.2
nbconvert==7.16.5
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1733402752141/work
networkx @ file:///C:/b/abs_3bxnu56g9d/croot/networkx_1717597507456/work
numba==0.60.0
numexpr @ file:///C:/b/abs_05o8p7bfml/croot/numexpr_1730215959182/work
numpy @ file:///C:/b/abs_c1ywpu18ar/croot/numpy_and_numpy_base_1708638681471/work/dist/numpy-1.26.4-cp39-cp39-win_amd64.whl#sha256=f284633067fde4bb078a09085a1c9e99a3218c129f5312b7b3d76c9340442a25
omegaconf @ file:///home/conda/feedstock_root/build_artifacts/omegaconf_1670575376789/work
openpyxl @ file:///D:/bld/openpyxl_1725460945713/work
packaging @ file:///C:/b/abs_c3vlh0z4jw/croot/packaging_1720101866539/work
pandas @ file:///C:/b/abs_cdcgk91igc/croots/recipe/pandas_1663772960432/work
pandocfilters==1.5.1
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1733233363808/work
pathy @ file:///home/conda/feedstock_root/build_artifacts/pathy_1687286298811/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow @ file:///C:/b/abs_32o8er3uqp/croot/pillow_1721059447598/work
pipreqs==0.5.0
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1733344503739/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1733232627818/work
ply==3.11
preshed @ file:///D:/bld/preshed_1728945745457/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1733302527033/work
propcache @ file:///D:/bld/propcache_1733391843874/work
protobuf==4.25.3
psutil @ file:///D:/bld/psutil_1729847171148/work
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pyarrow @ file:///C:/b/abs_cddzecbo0a/croot/pyarrow_1733937783605/work/python
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1733216196861/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic @ file:///D:/bld/pydantic_1636021267451/work
pyflakes @ file:///home/conda/feedstock_root/build_artifacts/pyflakes_1733216066937/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1733221634316/work
pyparsing @ file:///C:/b/abs_40z8gyj9wi/croot/pyparsing_1731445739241/work
PyQt5==5.15.10
PyQt5-sip @ file:///C:/b/abs_c0pi2mimq3/croot/pyqt-split_1698769125270/work/pyqt_sip
pyrsistent @ file:///D:/bld/pyrsistent_1725353630939/work
PySocks @ file:///C:/ci/pysocks_1605307512533/work
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
pytorch-model-summary @ file:///home/conda/feedstock_root/build_artifacts/pytorch-model-summary_1598394892458/work
pytz @ file:///C:/b/abs_6ap4tsz1ox/croot/pytz_1713974360290/work
pywin32==307
PyYAML @ file:///C:/b/abs_14xkfs39bx/croot/pyyaml_1728657968772/work
pyzmq==26.2.0
regex @ file:///D:/bld/regex_1730952193828/work
requests @ file:///C:/b/abs_9frifg92q2/croot/requests_1721410901096/work
safetensors @ file:///D:/bld/safetensors_1725632175466/work
scapy @ file:///home/conda/feedstock_root/build_artifacts/scapy_1730963155683/work
SciencePlots @ file:///home/conda/feedstock_root/build_artifacts/scienceplots_1700944148905/work
scikit-image==0.24.0
scikit-learn @ file:///C:/b/abs_aajc9f7v6r/croot/scikit-learn_1722067652693/work/dist/scikit_learn-1.5.1-cp39-cp39-win_amd64.whl#sha256=c9648dc9e29bcf3f8c05d65be46d6b9252cf25dc12f2d981fd8e8feff3f6e7cd
scipy @ file:///C:/Users/dev-admin/cr_scipy-feedstock/scipy_1733774324044/work/dist/scipy-1.13.1-cp39-cp39-win_amd64.whl#sha256=f7218697f964ae4372cdcb6f20a05db0d338ccc574c96e9dbf235ed6547dd462
seaborn==0.13.2
sentry-sdk @ file:///home/conda/feedstock_root/build_artifacts/sentry-sdk_1733536260631/work
setproctitle @ file:///D:/bld/setproctitle_1731921928330/work
shap==0.47.1
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1733300899265/work
sip @ file:///C:/b/abs_edevan3fce/croot/sip_1698675983372/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
slicer==0.0.8
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1630238320325/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1634310307496/work
soupsieve==2.6
spacy @ file:///D:/bld/spacy_1636396382210/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1674550301837/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1694527114282/work
srsly @ file:///D:/bld/srsly_1695654290456/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
sympy==1.13.1
tensorboard @ file:///C:/b/abs_8bayrkofnj/croot/tensorboard_1723042051994/work/tensorboard-2.17.0-py3-none-any.whl#sha256=859a499a9b1fb68a058858964486627100b71fcb21646861c61d31846a6478fb
tensorboard_data_server @ file:///C:/b/abs_96oxnengxy/croot/tensorboard-data-server_1724172563443/work/tensorboard_data_server-0.7.0-py3-none-any.whl#sha256=e1491598092b1fe59a6545fb3d1079464cf3a999105f6bdd8a2ec8af25cf8d4c
thinc @ file:///D:/bld/thinc_1654189008555/work
thop==0.1.1.post2209072238
threadpoolctl @ file:///C:/b/abs_def0dwqlft/croot/threadpoolctl_1719407816649/work
tifffile==2024.8.30
tiktoken @ file:///D:/bld/tiktoken_1728084124643/work
timm @ file:///home/conda/feedstock_root/build_artifacts/timm_1733327091483/work
tinycss2==1.4.0
tokenizers @ file:///D:/bld/tokenizers_1713402858760/work/bindings/python
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1734091811753/work
tomli @ file:///C:/Windows/TEMP/abs_ac109f85-a7b3-4b4d-bcfd-52622eceddf0hy332ojo/croots/recipe/tomli_1657175513137/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1733736030883/work
torch==2.5.1
torchaudio==2.5.1
torchdata==0.10.1
torchvision==0.20.1
tornado @ file:///C:/b/abs_7cyu943ybx/croot/tornado_1733960510898/work
tqdm @ file:///C:/b/abs_77wju137gk/croot/tqdm_1724853945787/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
transformers @ file:///home/conda/feedstock_root/build_artifacts/transformers_1715059825623/work
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1657029164904/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
unicodedata2 @ file:///C:/b/abs_b6apldlg7y/croot/unicodedata2_1713212998255/work
urllib3 @ file:///C:/b/abs_9a_f8h_bn2/croot/urllib3_1727769836930/work
visdom==0.2.4
wandb @ file:///D:/bld/wandb_1731619694436/work
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1668249950899/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug @ file:///C:/b/abs_8bittcw9jr/croot/werkzeug_1716533366070/work
wget==3.2
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306162074/work
xlrd==1.2.0
xxhash @ file:///D:/bld/python-xxhash_1725272233714/work
yarg==0.1.9
yarl @ file:///D:/bld/yarl_1733428809414/work
zipp @ file:///C:/b/abs_021kqswk3k/croot/zipp_1729012371206/work
